In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("/Users/ashwin/Applications/Master/air-lead-enrichment/data/messy_leads.csv")

In [4]:
df.head()

,Name,Email,Title,Company,Phone,Source,Country,Created At
0,Alice Anderson,alice.anderson@company.com,Product Lead,GlobalTech,(123) 456-7890,Referral,United States,19-Mar-2025
1,Alice Jones,alice.jones@business.co,CEO,Air Inc,+1 800 555 1212,Website Visitor,US,2025-04-01
2,carol,valid@example.com,VP Mktg,example corp,call me,LinkedIn,CA,NaN
3,Jack Brown,jack.brown@business.co,NaN,example corp,5551212,LinkedIn,US,2024-10-30
4,Carol Martinez,carol.martinez@business.co,Marketing Manager,COMPANY,123-456-7890,LinkedIn,CA,2025-01-11

In [5]:
len(df)

100